$border-width: 1px;
$color-screen: #858693;

.screen {
  align-items: center;
  background-color: $color-screen;
  border: $border-width solid $color-screen;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  height: 76px;
  padding: 10px;
  width: 100%;
}
