.calculatorBody {
  background-color: white;
  display: block;
  height: auto;
  margin: 0;
  max-width: 480px;
  padding: 10px;
  width: 100%;
}

.rowBtns {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
}
