.calculatorBody {
    background-color: white;
    height: auto;
    margin: 0;
    max-width: 480px;
    padding: 10px;
    width: 100%;
}

.rowBtn {
    display: grid;
}

.normal {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.double {
    grid-template-columns: 2fr 1fr 1fr;
}