$color-background: #282c34;

.App {
  background-color: $color-background;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px;
  width: 100%;
}
